@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  src:url(./fonts/roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-light';
  src:url(./fonts/roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-medium';
  src:url(./fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

.Roboto{
  font-family: 'Roboto','oxygen','sans-serif';
}

.Roboto-light{
  font-family: 'Roboto-light','oxygen','sans-serif';
}

.Roboto-medium{
  font-family: 'Roboto-medium','oxygen','sans-serif';
}